@import "bootstrap";

/* universal */
// .container {
// width: 100%;
// max-width: 960px; /* 最大幅を指定して、中央に配置 */
// }

body {
padding-top: 60px;
}
/* .col-md-auto にマージンを設定 */
.col-md-auto {
    margin-left: 10%;
    margin-right: 10%;
  
    /* 大きなスクリーン用のマージン設定 */
    @media (min-width: 768px) {
      margin-left: 30%;
      margin-right: 30%;
      padding-left: 30%; /* 必要に応じて調整 */
      padding-right: 30%; /* 必要に応じて調整 */
    
    /* 入力欄を狭くするためのスタイル */
    .form-control {
      max-width: 100%; /* 最大幅を100%に設定 */
      width: 100%;     /* 幅を100%に設定 */
    }
    }
    
    /* モバイル用のマージン設定（768px未満の場合） */
    @media (max-width: 767px) {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
section { overflow: auto;
}
textarea {
resize: vertical;
}
.center { text-align: center;
}
.center h1 { margin-bottom: 10px;
}
/* typography */
h1, h2, h3, h4, h5, h6 { line-height: 1;
}
h1 {
font-size: 3em; letter-spacing: -2px;  margin-top: 30px; margin-bottom: 30px; text-align: center;
}
h2 {
font-size: 1.2em; letter-spacing: -1px; margin-bottom: 30px; text-align: center; font-weight: normal; color: #777;
}
p{
font-size: 1.1em; line-height: 1.7em;
}
/* header */
header.navbar {
background-color: #5b5b5b; /* 暗いグレー */
}
/* ロゴのスタイル */
#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: #fff;  /* 文字色を白に設定 */
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
text-decoration: none;  /* 下線を非表示に設定 */
}
#logo:hover {
color: #ccc;  /* ホバー時に文字色を薄いグレーに設定 */
text-decoration: none;  /* 下線を非表示に */
}

/* ナビゲーションリンクのスタイル */
.navbar-nav {
display: flex;  /* 横並びにする */
align-items: center;  /* 垂直方向の中央揃え */
flex-direction: row; /* 横並び */
}

.navbar-nav li {
margin-right: 15px;  /* 各リスト項目の間隔を設定 */
}

.navbar-nav li:last-child {
margin-right: 0;  /* 最後のリスト項目の右マージンをゼロに */
}

.navbar-nav a {
color: #fff;  /* リンクの文字色を白に設定 */
text-decoration: none;  /* 下線を非表示に */
}

.navbar-nav a:hover {
color: #ccc;  /* ホバー時にリンクの文字色を薄いグレーに設定 */
text-decoration: none;  /* 下線を非表示に */
}

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@mixin box_sizing { 
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
/* forms */
input, textarea, select, .uneditable-input { 
border: 1px solid #bbb;
width: 100%;
margin-bottom: 15px;
@include box_sizing; }
input {
height: auto !important;
}
/* エラー表示 */
#error_explanation { 
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}
.field_with_errors { 
    @extend .is-invalid;
    .form-control {
        color: $danger; //Bootstrapのdanger色を直接使用
    }
}
/* アラートメッセージに対して上部マージンを追加 */
.alert {
  margin-top: 20px; /* 好みの値に変更可能 */
}
    